@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.game-card-skeleton {
  height: $size-15 * 3;

  border: $border-width-medium solid $color-on-primary;
  border-radius: $corner-large;
  box-shadow: $shadow-level-2;

  @include tablet-up {
    height: $size-12 * 2;
  }
}
